.header {
  font-family: 'Fredoka One',
    cursive;
  border-radius: 5px;
}

.card-image {
  margin: auto 0;
}

.card-action a:hover,
.evolution {
  cursor: pointer;
}

.card-action a {
  margin-right: 5px;
}

.evolution:hover {
  font-weight: bold;
  color: #6600ff;
}

td.centered {
  text-align: center !important;
}

tr:nth-child(odd) {
  background-color: #e8eaf6 !important;
}
