<div class="row">
  <div class="col s12 m8 offset-m2">
    <!-- Pokemon Name -->
    <h2 class=" card header center">{{ selectedPokemon.name | uppercase }}</h2>
    <!-- Card -->
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img class="pokemon-image" src="{{ selectedPokemon.sprites['front_default'] }}" />
        <img class="pokemon-image" src="{{ selectedPokemon.sprites['back_default'] }}" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>ID</td>
                <td class="centered"><strong>#{{ selectedPokemon.id }}</strong></td>
              </tr>
              <tr>
                <td>Types</td>
                <td class="centered">
                  <span *ngFor="let type of selectedPokemon.types"
                    class="{{ type | pokemonTypeColor }}">{{ type | uppercase }}</span>
                </td>
              </tr>
              <tr>
                <td>Weight</td>
                <td class="centered"><em>{{ selectedPokemon.weight }}</em></td>
              </tr>
              <tr>
                <td>Height</td>
                <td class="centered"><em>{{ selectedPokemon.height }}</em></td>
              </tr>
              <tr>
                <td>Habitat</td>
                <td class="centered"><em>{{ selectedPokemon.habitat | uppercase}}</em></td>
              </tr>
              <tr>
                <td>Evolves from</td>
                <td class="centered">
                  {{ selectedPokemon.evolves_from_species | uppercase }}
                </td>
              <tr>
                <td>Evolves to</td>
                <td class="centered">
                  <a class="evolution"
                    [routerLink]="['/pokemon', evolvedPokemon.id]">{{ selectedPokemon.evolutionName | uppercase }}</a>
                </td>
              </tr>
              <tr>
                <td>Infos</td>
                <td class="centered">
                  {{ selectedPokemon.flavor_text_entries }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()" class="waves-effect deep-purple accent-3 btn">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <h4 *ngIf="!pokemon" class="center">Aucun pokémon à afficher !</h4> -->
<h4 *ngIf="!selectedPokemon" class="center">
  <app-loader-pokemon></app-loader-pokemon>
</h4>
