<div class="container">
  <div class="row">
    <div class=" card center title">{{ title | uppercase }}</div>

    <!-- Pipe for pagination -->
    <div *ngFor="let pokemon of pokemons |paginate: { itemsPerPage: 50, currentPage: p}" class="col s6 m4">
      <div class="card horizontal" [routerLink]="['/pokemon', pokemon.id]">
        <div class="card-image">
          <img [src]="pokemon.sprites.front_default" alt="pokemon.name">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p><strong>#{{ pokemon.id }}</strong></p>
            <p>{{ pokemon.name | uppercase }}</p>
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
