.title {
  margin: 50px;
  font-size: 3rem;
  font-family: 'Fredoka One',
    cursive;
  border-radius: 4px;
}

.card:hover {
  cursor: pointer;
  border-color: #6600ff !important;
}

pagination-controls {
  text-align: center;
  margin: 20px;
}
