<div class="center title">{{ title }}</div>
<div class="container">
  <div class="row">

    <app-search-pokemon></app-search-pokemon>

    <div *ngFor="let pokemon of pokemons |paginate: { itemsPerPage: 50, currentPage: p}" class="col s6 m4">
      <div class="card horizontal" (click)=onselectPokemon(pokemon) appBorderCard>
        <div class="card-image">
          <img [src]="pokemon.sprites.front_default" alt="pokemon.name">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p><strong>#{{ pokemon.id }}</strong></p>
            <p>{{ pokemon.name | uppercase }}</p>
            <!-- <span *ngFor='let type of pokemon.types' class='{{ type | pokemonTypeColor }}'>{{ pokemon.types }}</span> -->
            <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
