.title {
  margin: 50px;
  font-size: 3rem;
  font-family: 'Fredoka One',
    cursive;
  border-radius: 4px;
}

/* Card height */
.horizontal {
  height: 180px;
}

.horizontal:hover {
  cursor: pointer;
  border: 4px solid #6600ff;
  background: black;
  color: white;
}

pagination-controls {
  text-align: center;
  margin: 20px;
}
